body{
    background-color: aliceblue;
}
.welcomeToTheSite{
    text-align: center;
}
.divHolder{
    display: flex;
    justify-content: center;
    
}
.bankDiv{
    border-style: solid;
    border-color: black;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.workDiv{
    border-style: solid;
    border-color: black;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px
}
.laptopDiv{
    border-style: solid;
    border-color: black;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px
}
.laptopCard{
    margin-top: 50px;
    display: flex;
    border-style: solid;
    background-color: aquamarine;
    width: 100%;
    height: 300px;
}
.laptopimg{  
  height: 15em;
  width: 15em;
}
.loanLeft{
    visibility: hidden;
}
.loanLeftVisible{
    visibility: visible;
}